window {
  background-color: rgba(15,15,15,0.92);
  border-radius: 14px;
  border: 1px solid rgba(255,255,255,0.06);
}

* {
  font-family: "JetBrains Mono";
  color: #e8e8e8;
}

/* scroll */

#scroll {
  padding: 0.6rem;
}

/* search bar */

#input {
  background-color: rgba(25,25,25,0.8);
  color: #ffffff;

  outline: none;
  box-shadow: none;
  border: 1px solid rgba(255,255,255,0.05);
  border-radius: 10px;

  font-size: 1rem;
  padding: 0.6rem 0.8rem;
}

/* list */

#inner-box {
  margin: 0.4rem;
  font-size: 1rem;
}

/* icons */

#img {
  margin: 8px 10px;
}

/* entry */

#entry {
  padding: 6px;
  border-radius: 8px;
}

/* hover */

#entry:selected {
  background-color: rgba(255,255,255,0.08);
  outline: none;
}

/* text hover */

#text:selected {
  color: #ffffff;
}
